* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: azure;
}

canvas {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool-box {
    width: 110px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.tool,
.size {
    height: 45px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tool > span {
    font-size: 1.8rem;
}

.tool:hover,
.size:hover {
    background-color: #c5c5c5;
}

.color {
    width: 45px;
    height: 45px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px 7px;
}
.size {
    padding: 10px;
    height: auto;
}
.size > span {
    width: 100%;
    background-color: black;
    border-radius: 100px;
    display: block;
}
.size[data-size="5"] > span {
    height: 5px;
}
.size[data-size="10"] > span {
    height: 10px;
}
.size[data-size="20"] > span {
    height: 20px;
}
.size[data-size="30"] > span {
    height: 30px;
}
.active {
    background-color: #cccccc;
}
